.container-cardGuest {
  text-align: center;
  width: 100%;
  height: 80vh;
  background-color: rgb(163, 204, 240);
  background-image: url("../../images/Benecko_12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: grey;
  line-height: 2;
  position: relative;
}

.wrapper-cardGuest {
  width: 700px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 0 45px 45px 25px;
  position: absolute;
  top: 80px;
  left: 200px;
}

.wrapper-cardGuest h1 {
  font-size: 38px;
}
.wrapper-cardGuest p {
  font-size: 24px;
}

